#HeaderView {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #1F2A34;
    background-color: #303E4D;

    .logo {
        line-height: 100px;
        height: 60px;
    }

    ul.mini-nav {
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        list-style: none;
        color: white;

        a {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
