@import "Variables";

#HeaderView {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: @header-height;
    border-bottom: 2px solid #121212;
    background-color: #333;

    .logo {
        line-height: 100px;
        height: 100%;
    }

    ul.mini-nav {
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        list-style: none;
        color: white;

        a {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
