@import 'Variables';

.stream-item-view {
    background-color: white;
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #c6c6c6;
    border-radius: 4px;

    .stream-item-top {
        position: relative;

        .stream-item-sidebar {
            position: absolute;
            right: 0;
            top: 0;
            width: @stream-item-sidebar-width;
            box-sizing: border-box;
            background: #fefefe;
            border-left: 1px solid #dedede;
            height: 100%;
            padding: 10px;
            border-top-right-radius: 5px;
            text-align: center;

            .stream-item-vote-count {
                font-size: 13px;
            }

            @media screen and (max-width: 768px) {
                position: relative;
                height: @stream-item-sidebar-height;
                width: 100%;
                border-radius: 0;
                border-left: 0;
                border-top: 1px solid #dedede;

                .stream-item-vote-count {
                    line-height: calc(@stream-item-sidebar-height - 20px);
                    float: right;
                }
            }
        }

        .stream-item-content {
            padding: 10px;
            padding-top: 7px;
            width: calc(~"100% -" ( @stream-item-sidebar-width + 20));

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            .mini-details {
                font-size: 13px;
                color: #999;

                .stream-item-author {
                    font-weight: bold;
                }

                .stream-item-subreddit {
                    font-weight: bold;
                    text-decoration: none;
                    color: #333;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .stream-item-title {
                font-weight: bold;
                color: #333;
                text-decoration: none;

                &:hover {
                    color: black;
                    text-decoration: underline;
                }
            }

            .stream-item-domain {
                font-size: 12px;
                color: #535353;
                margin-left: 5px;
            }

            .media {
                display: block;
                max-height: 400px;
                max-width: 90%;
                margin: 10px auto;

                &.text {
                    background: #eee;
                    padding: 10px;
                    padding-top: 8px;
                    font-size: 12px;
                    border-radius: 3px;
                    border: 1px solid #dfdfdf;
                    overflow: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .stream-item-comments {
        position: relative;
        background-color: #eee;
        border-top: 1px solid #dedede;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .no-comments, .loading {
            text-align: center;
            width: 100%;
            display: block;
            font-size: 11px;
            padding: 10px;
        }

        .view-more-comments {
            display: block;
            text-decoration: none;
            text-align: center;
            width: 100%;
            padding: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            border: none;
            background: rgba(0, 0, 0, 0.02);
            color: #7f7f7f;
            font-weight: bold;
            font-size: 11px;

            .icon {
                background-image: url(../images/stream-item-comment-icon.png);
                background-size: 16px auto;
                background-position: left center;
                background-repeat: no-repeat;
                display: inline-block;
                padding-left: 22px;
            }

            &:hover {
                background-color: #d9dadb;
            }

            &:active {
                background-color: #c9cdd1;
            }
        }
    }
}
