@import 'Variables';

.stream-item-view {
    max-width: @stream-item-max-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    position: relative;

    @media screen and (max-width: @stream-item-min-large-screen) {
        width: calc(~"100% -" 20px);
        margin-left: 10px;
        margin-top: 10px;
    }


    .vote-container {

        .vote {
            cursor: pointer;
            background: url(images/vote.png) center center no-repeat;
            background-size: 20%;
            height: 36px;
            margin: 0 auto;

            &.up {
                &.selected {
                    background-image: url(images/upvote.png);
                }

                &:active {
                    background-image: url(images/upvote.png);
                }
            }

            &.down {
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                transform: rotate(180deg);

                &:active {
                    background-image: url(images/downvote.png);
                }

                &.selected {
                    background-image: url(images/downvote.png);
                }
            }
        }
    }

    .stream-item-media {
        max-height: 400px;
        min-height: 100px;
        background-color: black;
        overflow: hidden;

        a {
            color: rgba(255, 255, 255, 0.87);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .media {
            text-align: center;
            width: 100%;
        }
    }

}
