.stream-item-view {
    background-color: white;
    display: block;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 10px;
    box-sizing: border-box;

    .stream-item-media {
        display: block;
        max-height: 400px;
        max-width: 90%;
    }
}
