
html,
body {
  margin: 0;
  padding: 0;
  background-color: #F0F1F2;
  font-family: 'Open Sans', sans-serif;
}

.CreateNotificationView {
  position: relative;
  width: 100%;
  background: #d5d9dc;
  height: 58px;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #aeaeae;
}
.CreateNotificationView textarea {
  float: left;
  width: 60%;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  resize: none;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}
.CreateNotificationView textarea:focus {
  border-color: #aaa;
}
.CreateNotificationView input[type=text] {
  float: left;
  width: calc(30% - 10px);
  border: 1px solid #aeaeae;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 5px;
  height: 38px;
  border-radius: 3px;
}
.CreateNotificationView input[type=submit] {
  float: left;
  background-color: #4cb4a9;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  color: white;
  outline: none;
  height: 38px;
  margin-left: 10px;
  border-radius: 3px;
  width: calc(10% - 10px);
  border: none;
}
.CreateNotificationView input[type=submit]:hover {
  background-color: #54bfb2;
}
.CreateNotificationView input[type=submit]:active {
  background-color: #45a598;
}

#HeaderView {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #121212;
  background-color: #333;
}
#HeaderView .logo {
  line-height: 100px;
  height: 80px;
}
#HeaderView ul.mini-nav {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  list-style: none;
  color: white;
}
#HeaderView ul.mini-nav a {
  cursor: pointer;
}
#HeaderView ul.mini-nav a:hover {
  text-decoration: underline;
}

.LoginView {
  font-size: 12px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.LoginView .logo {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.LoginView .logo img {
  width: 100%;
}
.LoginView .form-container {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 2px;
}
.LoginView .form-container input[type=text],
.LoginView .form-container input[type=password] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.LoginView .form-container input[type=text]:focus,
.LoginView .form-container input[type=password]:focus {
  border: 1px solid #aaa;
}
.LoginView .form-container .login-btn {
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #4cb4a9;
}
.LoginView .form-container a.signup-link {
  font-size: 12px;
  line-height: 33px;
  float: right;
  text-decoration: none;
  color: #545454;
}
.LoginView .form-container a.signup-link:hover {
  text-decoration: underline;
  color: #333;
}


.stream-item-view {
  background-color: white;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 10px;
}
.stream-item-view .stream-item-media {
  display: block;
  max-height: 400px;
  max-width: 90%;
}
