html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f1f2;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
#App {
  position: relative;
  width: 100%;
  height: 100%;
}
#App .app-view {
  position: relative;
  width: 100%;
  height: 100%;
}

#HeaderView {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #121212;
  background-color: #333;
}
#HeaderView .logo {
  line-height: 100px;
  height: 100%;
}
#HeaderView ul.mini-nav {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  list-style: none;
  color: white;
}
#HeaderView ul.mini-nav a {
  cursor: pointer;
}
#HeaderView ul.mini-nav a:hover {
  text-decoration: underline;
}

.LoginView {
  font-size: 12px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.LoginView .logo {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.LoginView .logo img {
  width: 100%;
}
.LoginView .form-container {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 2px;
}
.LoginView .form-container input[type=text],
.LoginView .form-container input[type=password] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.LoginView .form-container input[type=text]:focus,
.LoginView .form-container input[type=password]:focus {
  border: 1px solid #aaa;
}
.LoginView .form-container .login-btn {
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #4cb4a9;
}
.LoginView .form-container a.signup-link {
  font-size: 12px;
  line-height: 33px;
  float: right;
  text-decoration: none;
  color: #545454;
}
.LoginView .form-container a.signup-link:hover {
  text-decoration: underline;
  color: #333;
}

.post-view {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
  display: block;
  border-bottom: 1px solid #ccc;
}
.post-view .post-content {
  padding: 10px;
}
.post-view .post-content .post-author {
  float: right;
  color: #999;
}
.post-view .post-content .post-title {
  font-weight: bold;
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}
.post-view .post-content .post-title:hover {
  color: black;
  text-decoration: underline;
}
.post-view .post-content .media {
  display: block;
  max-height: 400px;
  max-width: 90%;
  margin: 10px auto 20px auto;
}
.post-view .post-separator {
  height: 32px;
  background-color: #eee;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.post-view .post-comments .post-comment {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #dedede;
  position: relative;
}
.post-view .post-comments .post-comment:even {
  background-color: #efefef;
}
.post-view .post-comments .post-comment .post-comment-children {
  margin-left: 25px;
}
.post-view .post-comments .post-comment .post-comment-children .post-comment {
  margin-top: 10px;
}
.post-view .post-comments .post-comment .post-comment-author {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aeaeae;
}
.post-view .post-comments .post-comment .post-comment-body {
  padding-top: 6px;
  display: block;
  max-width: 800px;
}
.post-view .post-comments .post-comment .post-comment-body p {
  margin: 0;
}
.post-view .post-comments .post-comment .post-comment-body .md blockquote {
  border-left: 2px solid #aeaeae;
  margin-left: 0;
  padding-left: 40px;
  font-style: italic;
}

.stream-spinner-view {
  text-align: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.stream-spinner-view .pulse-loader {
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

.stream-item-comment {
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.stream-item-comment:last-child {
  border-bottom: none;
}
.stream-item-comment .stream-item-comment-author {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aeaeae;
}
.stream-item-comment .stream-item-comment-body {
  padding-top: 6px;
  display: block;
  max-width: 800px;
}
.stream-item-comment .stream-item-comment-body .md blockquote {
  border-left: 2px solid #aeaeae;
  margin-left: 0;
  padding-left: 40px;
  font-style: italic;
}
.stream-item-comment p {
  margin: 0;
}

.stream-item-view {
  background-color: white;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.stream-item-view .stream-item-content {
  padding: 10px;
}
.stream-item-view .stream-item-content .stream-item-vote-count {
  float: right;
}
.stream-item-view .stream-item-content .stream-item-author {
  color: #999;
}
.stream-item-view .stream-item-content .stream-item-title {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.stream-item-view .stream-item-content .stream-item-title:hover {
  color: black;
  text-decoration: underline;
}
.stream-item-view .stream-item-content .stream-item-domain {
  font-size: 12px;
  color: #535353;
  margin-left: 10px;
}
.stream-item-view .stream-item-content .media {
  display: block;
  max-height: 400px;
  max-width: 90%;
  margin: 10px auto 0 auto;
}
.stream-item-view .stream-item-comments {
  position: relative;
  background-color: #eee;
  border-top: 1px solid #dedede;
  width: 100%;
  height: 100%;
}
.stream-item-view .stream-item-comments .view-more-comments {
  display: block;
  width: 200px;
  font-size: 12px;
  color: white;
  border: 1px solid #ACB2B8;
  background-color: #C9CDD1;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}
.stream-item-view .stream-item-comments .view-more-comments:hover {
  background-color: #d9dadb;
}
.stream-item-view .stream-item-comments .view-more-comments:active {
  background-color: #C9CDD1;
}


.stream-view {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  overflow-x: hidden;
}

